@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  background: var(--black-1);
  overflow-x: hidden;
  visibility: hidden;
}
section {
  padding: 100px 0;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
:root {
  --gray: #e4edf6;
  --black-1: #0d1017;
  --black-2: #1a1e29;
  --blue: #4056e5;
  --white: #ffffff;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h1,
h2,
h3,
h4 {
  font-family: Poppins;
}
p {
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.8rem;
}
a {
  display: inline-block;
  text-decoration: none;
}
